#content {
   min-width: 500px;
   width: fit-content;
}
#header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex: 1;
   margin: 0 15px;
}

.btn {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   border: 1px solid var(--primary-500);
   color: var(--primary-500);
}
.btn:hover {
   background-color: var(--primary-300);
   color: white;
}
#alladdress {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
