#dataForm {
   display: flex;
   flex-direction: column;
   height: 100%;
   min-height: fit-content;
   justify-content: space-between;
}
#dataForm > div {
   display: flex;
   flex-direction: column;
   min-width: 100%;
   width: 100%;
}
#dataForm p {
   font-size: 15px;
   font-weight: 500;
   margin: 0px;
   color: var(--neutral-900);
}

#dataForm input {
   padding: 5px 10px;
   margin-top: 5px;
   border-radius: 5px;
   border: 1px solid var(--neutral-500);
}
.form-group {
   margin-bottom: 25px;
   height: 75px;
}

.btn-primary {
   background-color: var(--primary-400);
   border-color: var(--primary-700);
}
.btn-primary:hover {
   background-color: var(--primary-700);
}