<div class="pageinf">
	<h1>Mis datos</h1>
	<p>Mira o cambia la información asociada a tu cuenta en cualquier momento.</p>
</div>
<div id="body">
	<div id="left">
		<div routerLink="/userdata/mydata/data" class="divopt" routerLinkActive="active">
			<div>
				<div class="icon">
					<span class="material-symbols-outlined">person</span>
				</div>
				<div class="inf">
					<h3>Datos de la cuenta</h3>
					<p>Cambia los datos de tu cuenta como el número de teléfono o el gmail.</p>
				</div>
			</div>
			<div class="icon chevron">
				<span class="material-symbols-outlined">chevron_right</span>
			</div>

		</div>
		<div routerLink="/userdata/mydata/pwd" class="divopt" routerLinkActive="active">
			<div>
				<div class="icon">
					<span class="material-symbols-outlined">key</span>
				</div>
				<div class="inf">
					<h3>Contraseña</h3>
					<p>Cambia tu contraseña en cualquier momento.</p>
				</div>
			</div>
			<div class="icon chevron">
				<span class="material-symbols-outlined">chevron_right</span>
			</div>
		</div>

		<div class="divopt" id="addressopt" routerLink="/userdata/mydata/address" routerLinkActive="active">
			<div>
				<div class="icon">
					<span class="material-symbols-outlined">send</span>
				</div>
				<div class="inf">
					<h3>Dirección de envio</h3>
					<p>Añade o cambia tus datos de dirección donde se enviarán tus pedidos.</p>
				</div>
			</div>
			<div class="icon chevron">
				<span class="material-symbols-outlined">chevron_right</span>
			</div>
		</div>
	</div>

	<div id="right">
		<router-outlet (reload)="reload()"></router-outlet>
	</div>
</div>