<div id="body">
   <div id="content">
      <div id="cart">
         <div *ngIf="carted.length == 0; else hascart">
            <h1>Tu cesta está vacía</h1>
            <a href="">Ver obras</a>
         </div>
         <ng-template #hascart>
            <h1>Cesta</h1>
         </ng-template>

         <div class="product" *ngFor="let artwork of carted">
            <div class="product_cover" *ngIf="artwork.sold" (click)="delArtwork(artwork)">
               <h1 class="sold">VENDIDO</h1>
               <p class="sold material-symbols-outlined">delete</p>
            </div>
            <a *ngFor="let piece of artwork.pieces" class="piece" [routerLink]="['/proyecto']"
               [queryParams]="{ id: artwork.work_id }" [fragment]="artwork.id.toString()">
               <div class="images" *ngFor="let image of piece.images">
                  <div class="img" [ngStyle]="{'background-image': getBackgroundImageUrl(image, piece)}"></div>
               </div>
            </a>
            <div class="cover"></div>

            <div class="inf">
               <div class="inf_top">
                  <div class="a">
                     <a class="h2" [routerLink]="['/proyecto']" [queryParams]="{ id: artwork.work_id }"
                        [fragment]="artwork.id.toString()">{{artwork.title}}</a>
                     <span class="h4"><a [routerLink]="['/proyecto']"
                           [queryParams]="{ id: artwork.work_id }">{{artwork.work_title}}</a> -
                        {{artwork.creation_date}}</span>
                  </div>
                  <div class="pieces">
                     <p><b>Contiene:</b></p>
                     <ul>
                        <li *ngFor="let piece of artwork.pieces">
                           <ng-container *ngIf="piece.title; else noTitle"><b>{{ piece.title }} </b>- </ng-container>
                           <ng-template #noTitle>Sin título - </ng-template>
                           <ng-container *ngIf="piece.materials; else noMat">{{ piece.materials}} - </ng-container>
                           <ng-template #noMat>Materiales no registrados - </ng-template>
                           <ng-container *ngIf="piece.dimensions; else noDim">{{ piece.dimensions }} cm</ng-container>
                           <ng-template #noDim>Dimensiones no especificadas</ng-template>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="inf_bottom">
                  <span>
                     <input type="checkbox" name="" class="artwork_checkbox" id="checkbox_{{artwork.id}}"
                        [(ngModel)]="checkedArtworks[artwork.id]" (change)="toggleSelected(artwork.id)"
                        [disabled]="artwork.sold">
                     <p class="l">|</p>
                     <p type="button" class="del" (click)="delArtwork(artwork)">
                        Eliminar</p>
                  </span>
                  <p id="price_{{artwork.id}}">{{artwork.price}}€</p>
               </div>
            </div>
         </div>
      </div>


      <div id="payment" class="PC">
         <div class="payment_inf">
            <span>
               <h1>Total</h1>
               <h1>{{ getTotalAmount()}}€</h1>
            </span>
            <h3>{{ getselectedProductsString() }}</h3>
         </div>
         <div>
         </div>
         <div class="payment_button">
            <button class="btn" (click)="checkout()" [disabled]="count() === 0">Tramitar pedido</button>
         </div>
      </div>
      <div id="payment" class="mobile">
            <h1>{{ getTotalAmount()}}€</h1>
            <button class="btn" (click)="checkout()" [disabled]="count() === 0">Comprar ({{ count() }})</button>
      </div>
   </div>
</div>