.body {
   width: 500px;
   margin: 60px auto 0;
}
.form-group {
   margin-bottom: 25px;
   height: 50px;
}

.form-group-comp {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
}

.form-group-comp > div {
   width: 45%;
}

.header-text {
   text-align: center;
   margin-bottom: 50px;
}
.header-text > p {
   font-size: medium;
}

#buttondiv {
   display: flex;
   justify-content: end;
   height: initial;
}

button {
   background-color: rgb(68, 129, 159);
}

.account {
  text-align: center;
  color: gray;
}
.account  > p > a {
  color:  rgb(32, 90, 119);
  border-color:  rgb(32, 90, 119);
}

@media (width <= 620px) {
   .body {
       margin: 40px auto;
       padding: 0px 50px;
       width: fit-content;
   }

}