.pageinf {
   margin: 20px 30px 30px;
}
h1 {
   font-weight: 500;
   margin: 0px;
}
#orders {
   display: flex;
   flex-direction: column-reverse;
}
.order {
   border: 1px solid var(--neutral-400);
   margin: 0 30px 30px;
   display: flex;
   flex-direction: row;
   width: fit-content;
}
/* THEAD */
.thead {
   background-color: var(--neutral-200);
   justify-content: space-between;
   padding: 5px 20px;
}
.thead > div {
   margin: 15px 0;
}
.thead h5, p{
   margin: 0px;
}
.thead h5 {
   font-weight: 600;
}

/* TBODY */
#artworks {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
}

.artwork_card {
   background-color: var(--neutral-100);
   width: 150px;
   max-width: 150px;
   height: 280px;
   max-height: 280px;
   margin: 20px;
   padding: 0;
   display: flex;
   flex-direction: column;
}

.piece_images {
   height: 60%;
   width: 100%;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   display: flex;
   cursor: pointer;
}
.images {
   width: 100%;
   height: 100%;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   display: flex;
}
img {
   width: 100%;
   height: 100%;
   min-height: 100% !important;
   min-width: 100% !important;
   object-fit: cover;
   scroll-snap-align: start;
}

.card_body {
   padding: 15px;
}
.card_body > h4 {
   cursor: pointer;
}
h5, p, h4 {
   margin: 0px;
   font-family: "Outfit", sans-serif;
}