html {
    padding: 0px;
    margin: 0px;
}
nav {
    width: 100vw;
    max-width: 2000px;

    padding: 0px;
    background-color:rgba(255, 255, 255, 0.753);
    z-index: 2;
}

#header {
    width: 100vw;
    max-width: 2000px;

    min-height: 50px;
    height: 70px;

    padding: 20px 25px;
    margin: 0px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 2;
}
a {
    padding: 0px;
}
#header > div {
    width: 250px;
}


/* --- BRAND NAME (Ana Estrada Macías) --- */
#brand {
    min-height: fit-content;
    min-width: fit-content;
    width: 250px;

    display: flex;
    align-items: center;
    margin: auto 0px;
}
.navbar-brand {
    font-size: 1.5em;
    font-weight: 500;
    padding: 0px;
    margin-right: 15px;
}
.small {
    display: none;
}


/* --- MAIN PAGES --- (proyectos, contacto, sobre mí) ---  */
#mainPages {
    max-width: fit-content;
    justify-content: center;
}
#mainPages > span {
    min-width: 150px;
    display: flex;
    justify-content: space-between;
}
.nav-item {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-toggler {
    border: none;
    padding: 0px;
}
.nav-link {
    padding: 0px !important;
    margin: 0 10px !important;
}
#menu1, #menu2{
    display: none;
}
.offC {
    display: none;
}
.active {
    color: black;
    border-bottom: 1px solid black;
    
}

/* --- SECONDARY PAGES --- (carro, tienda, usuario) ---  */
#secPages {
    display: flex;
    justify-content: end;
}
#secPages > ul {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}
#shopNavbar {
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shop {
    margin: 0px !important;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 0,
    'GRAD' 300,
    'opsz' 0
}
.dropdown-menu{
    position: absolute;
    padding: 5px 10px;
}
.dropdown-menu > li > a {
    margin: 5px;
    font-size: small;
}

.welcome {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.welcome > p {
    margin: 0px;
    padding: 0px;
}
.welcome > p:last-child {
    cursor: pointer;
}
/* --- ASIDE DROP MENU --- */
/* .offcanvas[aria-modal="true"] {
    min-width: fit-content;
    max-width: 200px;
    padding: 25px;
} */


/* First wrap (Main pages dissapears, menu button appears) */
@media (width <= 991px) {
    #userDrop {
        display: none;
    }
    #menu2 {
        display: block;
    }
    #mainPages {
        min-width: 30vw;

        padding: 30px;
        justify-content: start;

    }
    #mainPages > ul {
        /* border-top: 1px solid rgb(194, 194, 194); */
        padding: 15px 5px 15px 0;
    }
    .offC {
        display: block;
        margin-top: 10px;
        margin-right: 10px;
    }
    .nav-item {
        display: flex;
        flex-direction: row;
        align-items: end;
    }
    #closer {
        margin-bottom: 15px;
    }
    #RRSS {
        display: flex;
        justify-content: center;

    }
    #RRSS > a {
        margin: 0px 5px;
    }
    #Log {
        border-top: 1px solid rgb(194, 194, 194);
        border-bottom: 1px solid rgb(194, 194, 194);
        font-size: 16px;

        padding: 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }
    #Log > p {
        margin: 3px 0;
    }
    .rrss {
        text-align: center;
    }
}

/* --- MEDIA QUERY (MOBILE)--- */
@media screen and (max-width: 549px){
    #header {
        flex-wrap: wrap;
        width: 100vw !important;
    }
    #brand {
        width: 100% !important;
        justify-content: space-between;
        margin-right: 0;
    }
    #secPages {
        margin-top: 15px;

    }
    #secPages > ul {
        margin-right: 15px;
    }
    #menu1 {
        display: block;
    }
    #menu2 {
        display: none;
    }
    #mainPages {
        min-width: 40vw;
    }
}
