<div id="toolbar">
	<div class="orderby">
		<select class="form-select" aria-label="Default select example">
			<option selected value="1">Favoritos</option>
			<option value="2">Más vendidos</option>
			<option value="3">Precio: mayor a menor</option>
			<option value="4">Precio: menor a mayor</option>
		</select>
	</div>
		
	<div class="search">
		<input class="form-control" placeholder="Buscar..." aria-label="Buscar">
		<span id="fav-icon" class="material-symbols-outlined">search</span>
	</div>
	<div id="divider"></div>

</div>