#toolbar {
   margin: 50px 100px;
}

.filter-bar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding: 0 150px;
}

mat-form-field {
   background-color: #fff;
}

.order-select {
   width: 200px; /* Ancho del select */
   position: relative; /* Para que los elementos estén en el frente */
   z-index: 1; /* Asegura que los elementos queden encima de la línea */
}

.search-container {
   display: flex;
   position: relative; 
   z-index: 1; 
   border: none;
}

.search-input {
   width: 100%; /* Para que ocupe todo el espacio disponible */
}

.divider {
   position: absolute;
   top: 50%; /* Centrar verticalmente */
   left: 0;
   right: 0;
   height: 1px; /* Grosor de la línea */
   background-color: #ccc; /* Color de la línea */
   z-index: 0; /* Asegúrate de que esté detrás de los elementos */
}
