#body {
   margin: 50px 100px;
}
#items {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: center;
}
.illustration {
   display: flex;
   flex-direction: column;
   margin: 30px;
   width: 200px;
}
.title {
   display: -webkit-box;         /* Para WebKit */
   -webkit-box-orient: vertical; /* Orientación vertical */
   -webkit-line-clamp: 1;       /* Número de líneas a mostrar */
   overflow: hidden;             /* Oculta el overflow */
   text-overflow: ellipsis;      /* Muestra "..." al final */
   max-height: 4.5em;           /* Ajusta la altura máxima */
   line-height: 1.5em;          /* Altura de línea */
 }

.image {
   min-height: 215px;
   margin-bottom: 10px;
   width: 100%;

   background-position: center;
   background-position-x: center;
   background-position-y: center;
   background-size: cover;
   background-color: rgb(209, 209, 209);
} 

.inf {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}
.inf > div > h3 {
   font-weight: 500;
   margin: 0px;
}
.bottominf {
   display: flex;
   justify-content: space-between;
}
.bottominf p{
   margin: 0px;
}
.icons {
   display: flex;
}
.icons > span {
   margin-left: 5px;
}
.material-symbols-outlined{
   cursor: pointer;
   font-variation-settings:
   'FILL' 0
}

.fav {
  font-variation-settings:
  'FILL' 1
}
