<div id="body">
	<app-toolbar (collectionSelected)="handleCollectionChange($event, false)" (orderSelected)="onOrderByChange($event, false)" (searchBarText)="searching($event, false)"></app-toolbar>

	<div id="items">
		<div *ngFor="let illustration of illustrationsToShow" class="illustration">
				<div class="image" [ngStyle]="{'background-image': 'url(' + illustration.url + ')'}"></div>

				<div class="inf">
					<div>
						<h3 class="title">{{ illustration.title }}</h3>
						<p class="collection">{{ illustration.collection }}</p>
					</div>
					<div class="bottominf">
						<p class="price">{{ illustration.price }}€</p>
					<div class="icons">
						<span id="fav-icon" class="material-symbols-outlined" [class.fav]="illustration.fav" (click)="toggleFav(illustration)">favorite</span>
						<span class="material-symbols-outlined" (click)="toggleCart(illustration)">{{ illustration.cart ? 'remove_shopping_cart' : 'add_shopping_cart' }}</span>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
