<div id="wrapper">
   <div id="content">
   <div class="sidebar">
      <a class="options nav-link" href="/userdata/mydata" routerLink="/userdata/mydata" routerLinkActive="active">
         <h2>Mis datos</h2>
         <i class="bi bi-chevron-right"></i>
      </a>
      <a class="options nav-link" href="/userdata/favoritos" routerLink="/userdata/favoritos" routerLinkActive="active">
         <h2>Favoritos</h2>
         <i class="bi bi-chevron-right"></i>
      </a>
      <a class="options nav-link" href="/userdata/pedidos" routerLink="/userdata/pedidos" routerLinkActive="active">
         <h2>Pedidos</h2>
         <i class="bi bi-chevron-right"></i>
      </a>
   </div>
   <div class="main-content">
      <router-outlet></router-outlet>
    </div>
</div>
</div>