.pageinf {
   margin: 20px 30px 30px;
}

h1 {
   font-weight: 500;
   margin: 0px;
}

#body {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

#left {
   min-width: fit-content;
   width: 40%;
   border-right: 1px solid var(--neutral-700);
}

#right {
   flex: 1;
   padding: 0 25px;
}

.divopt {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 15px;
   cursor: pointer;
   width: 100%;
   justify-content: space-between;
   text-decoration: none;
   color: black;
}

.divopt:hover {
   background-color: var(--neutral-200);
   transition: 0.3s ease;
}

.divopt>div {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.icon {
   height: 48px;
   width: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.inf {
   padding-left: 15px;
   padding-right: 20px;
}

.inf>h3,
p {
   margin: 0px;
}

.inf>h3 {
   font-weight: 500;
}

.active {
   background-color: var(--neutral-200);
   border-right: 1px solid var(--primary-500);
}

.active>h2 {
   font-weight: 500;
}

/* MODAL */

.modal-content {
   border: 1px solid var(--neutral-500);
   border-radius: 0;
}

.modal-header {
   padding: 20px 30px;
}

.modal-header>h1 {
   margin: 0;
}

.modal-body {
   background-color: var(--neutral-100);
   padding: 30px;
   border-radius: 5px;
}

.mobile {
   display: none;
}


@media (width < 725px) {
   div.icon {
      width: fit-content;
   }
}

@media (width < 500px) {
   .mobile {
      display: flex;
   }
   .PC {
      display: none;
   }
   .pageinf {
      margin: 0 15px 20px;
   }
   .divopt {
      padding: 10px;
   }
   .fullscreen-modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: white;
      z-index: 1050; /* Asegúrate de usar un índice adecuado */
      display: flex;
      flex-direction: column;
      border-radius: 0;
   }
   .fullscreen-modal .modal-body {
      flex-grow: 1;
      overflow: auto;
   }
  
}