<div id="content" *ngIf="work">

    <div class="headerImg" *ngIf="!hasdetails">
        <div id="workImg" [ngStyle]="{'background-image': 'url(' + work.url + ')'}"></div>
    </div>

    <div class="headerImg" *ngIf="hasdetails">
        <div *ngFor="let piece of work.pieces">
            <ngb-carousel *ngIf="piece.display === 'covercarousel'">
                <ng-template ngbSlide *ngFor="let image of piece.images">
                    <div class="picsum-img-wrapper" 
                        [style.backgroundImage]="'url(http://127.0.0.1:8080/piece/' + piece.id + '/' + image + ')'">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>

    <div id="body">
        <div id="inf">
            <h1>{{ work.title }}</h1>
            <pre *ngIf="work.statement">{{ work.statement }}</pre>
        </div>

        <div id="pieces">
            <div id="piece" *ngFor="let piece of work.pieces">
                <!-- <video controls *ngIf="piece.title === 'Cuna'"><source src="../../../assets/cuna/cabina.mp4" type="video/mp4"></video> -->
                <div *ngIf="piece.display != 'covercarousel' && piece.display != 'detail'" id="images">
                    <img *ngFor="let image of piece.images" [src]="'http://127.0.0.1:8080/piece/' + piece.id + '/' + image" alt="">
                </div>
                <div *ngIf="piece.display != 'covercarousel' && piece.display != 'detail'" id="desc">
                    <p>
                        <ng-container *ngIf="piece.title">{{ piece.title }}, </ng-container>
                        <ng-container *ngIf="piece.creation_date">{{ piece.creation_date }}. </ng-container>
                        <ng-container *ngIf="piece.materials">{{ piece.materials }}, </ng-container>
                        <ng-container *ngIf="piece.height">{{ piece.height }}</ng-container>
                        <ng-container *ngIf="piece.width"> x {{ piece.width }}</ng-container>
                        <ng-container *ngIf="piece.depth"> x {{ piece.depth }}</ng-container>
                        <ng-container *ngIf="piece.height || piece.width || piece.depth"> cm</ng-container>
                    </p>
                </div>
            </div>
        </div>

        <div id="carousel" *ngFor="let piece of work.pieces">
            <ngb-carousel *ngIf="piece.display === 'detail'">
                <ng-template ngbSlide *ngFor="let image of piece.images">
                    <div class="picsum-img-wrapper"
                        [style.backgroundImage]="'url(http://127.0.0.1:8080/piece/' + piece.id + '/' + image + ')'">
                    </div>
                    <!-- <div class="carousel-caption">
                        <h3>Detalle</h3>
                    </div> -->
                </ng-template>
            </ngb-carousel>

            
              
        </div>

    </div>
</div>