<div id="content" *ngIf="work">

    <div class="headerImg">
        <div id="workImg" [ngStyle]="{'background-image': 'url(' + URL_API + 'work/' + work.id + '/img)'}"></div>
    </div>

    <!-- <div class="headerImg" *ngIf="hasdetails">
        <div *ngFor="let piece of work.pieces">
            <ngb-carousel *ngIf="piece.display === 'covercarousel'">
                <ng-template ngbSlide *ngFor="let image of piece.images">
                    <div class="picsum-img-wrapper" 
                        [style.backgroundImage]="'url(http://192.168.1.135:8080/piece/' + piece.id + '/' + image + ')'">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div> -->

    <div id="body">
        <div id="inf">
            <h1 id="titleAnchor">{{ work.title }}</h1>
            <pre *ngIf="work.statement">
                {{ isExpanded ? work.statement : truncatedStatement }}
            </pre>
            <a href="#titleAnchor" *ngIf="this.wordsLength() > maxWords" (click)="toggleExpanded($event)">{{ isExpanded
                ? "Leer menos" : "Leer más" }}</a>
        </div>

        <div id="artworks">
            <ng-container *ngFor="let artwork of work.artworks">
                <div id="{{artwork.id}}" class="artwork"
                    *ngIf="artwork.display != 'covercarousel' && artwork.display != 'detail'">
                    <div class="mobile sticky_inf tablet">
                        <div class="sticky_header" (click)="toggleCollapse(artwork.id)">
                            <h1>{{artwork.title}}, {{artwork.creation_date}}</h1>
                            <span class="material-symbols-outlined">keyboard_arrow_down</span>
                        </div>
                        <div [ngbCollapse]="isCollapsed[artwork.id]">
                            <div class="sticky_collapse">
                                <p *ngIf="artwork.sold;">
                                    <ng-container *ngIf="artwork.sold;">Vendido</ng-container>
                                </p>
                                <p *ngIf="!artwork.sold;">
                                    <ng-container *ngIf="artwork.price else noPrice">{{ artwork.price }}
                                        €</ng-container>
                                    <ng-template #noPrice>No aplica</ng-template>
                                </p>
                                <span>
                                    <span *ngIf="!artwork.sold;" id="cart-icon{{artwork.id}}"
                                        class="material-symbols-outlined"
                                        (click)="addToCart(artwork.id)">add_shopping_cart</span>
                                    <span id="fav-icon{{artwork.id}}" class="material-symbols-outlined"
                                        (click)="logged ? favoriteToggle(artwork.id) : seeLogin()">favorite</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="pieces">
                        <div id="piece" *ngFor="let piece of artwork.pieces">
                            <div id="images">
                                <img *ngFor="let image of piece.images"
                                    [src]="URL_API + 'piece/' + piece.id + '/' + image" alt="">
                            </div>
                            <!-- Información oculta de las piezas -->
                            <div id="piece_inf" class="hidden">
                                <p>
                                    <b>Título: </b>
                                    <ng-container *ngIf="piece.title; else noTitle">{{ piece.title }}</ng-container>
                                    <ng-template #noTitle>Sin título</ng-template>
                                </p>
                                <p>
                                    <b>Materiales: </b>
                                    <ng-container *ngIf="piece.materials.length > 0; else noMaterials">
                                        {{ piece.materials }}
                                    </ng-container>
                                    <ng-template #noMaterials>No especificado</ng-template>
                                </p>
                                <p>
                                    <b>Dimensiones: </b>
                                    <ng-container *ngIf="piece.height || piece.width || piece.depth; else noDimensions">
                                        <ng-container *ngIf="piece.height">{{ piece.height }}</ng-container>
                                        <ng-container *ngIf="piece.width"> x {{ piece.width }}</ng-container>
                                        <ng-container *ngIf="piece.depth"> x {{ piece.depth }}</ng-container> cm
                                    </ng-container>
                                    <ng-template #noDimensions>No especificadas</ng-template>
                                </p>
                            </div>
                            <div id="mobile_piece_inf" class="mobile tablet">
                                <p>
                                    <ng-container>{{ piece.title ? piece.title : 'Sin título' }}</ng-container>
                                </p>
                                <p>
                                    <ng-container *ngIf="piece.materials">{{ piece.materials }}, </ng-container>
                                    <ng-container *ngIf="piece.dimensions">{{ piece.dimensions }}</ng-container></p>
                            </div>
                        </div>
                    </div>


                    <div id="artwork_shop" class="hidden">
                        <h3>
                            <ng-container *ngIf="artwork.creation_date">{{ artwork.creation_date }}</ng-container>
                            <span> - </span>
                            <ng-container *ngIf="work.title">{{ work.title }}</ng-container>
                        </h3>
                        <h1>
                            <b><ng-container *ngIf="artwork.title">{{ artwork.title }}</ng-container></b>
                        </h1>

                        <!-- <p>
                            <ng-container *ngIf="artwork.dimensions">{{ artwork.dimensions }}</ng-container>
                        </p> -->

                        <div id="art_shop_bottom">
                            <p *ngIf="artwork.sold;">
                                <ng-container *ngIf="artwork.sold;">Vendido</ng-container>
                            </p>
                            <p *ngIf="!artwork.sold;">
                                <ng-container *ngIf="artwork.price else noPrice">{{ artwork.price }} €</ng-container>
                                <ng-template #noPrice>No aplica</ng-template>
                            </p>
                            <div>
                                <span id="cart-icon{{artwork.id}}" *ngIf="!artwork.sold;"
                                    class="material-symbols-outlined"
                                    (click)="addToCart(artwork.id)">add_shopping_cart</span>
                                <span id="fav-icon{{artwork.id}}" class="material-symbols-outlined"
                                    (click)="logged ? favoriteToggle(artwork.id) : seeLogin()"> favorite </span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<!-- <div id="pieces">
            <div id="piece" *ngFor="let piece of work.pieces">
                <div *ngIf="piece.display != 'covercarousel' && piece.display != 'detail'" id="images">
                    <img *ngFor="let image of piece.images" [src]="URL_API + 'piece/' + piece.id + '/' + image" alt="">
                </div>
                <div *ngIf="piece.display != 'covercarousel' && piece.display != 'detail'" id="desc">
                    <p>
                        <ng-container *ngIf="piece.title">{{ piece.title }}, </ng-container>
                        <ng-container *ngIf="piece.creation_date">{{ piece.creation_date }}. </ng-container>
                        <ng-container *ngIf="piece.materials">{{ piece.materials }}, </ng-container>
                        <ng-container *ngIf="piece.height">{{ piece.height }}</ng-container>
                        <ng-container *ngIf="piece.width"> x {{ piece.width }}</ng-container>
                        <ng-container *ngIf="piece.depth"> x {{ piece.depth }}</ng-container>
                        <ng-container *ngIf="piece.height || piece.width || piece.depth"> cm</ng-container>
                    </p>
                </div>
            </div>
        </div>

        <div id="carousel" *ngFor="let piece of work.pieces">
            <ngb-carousel *ngIf="piece.display === 'detail'">
                <ng-template ngbSlide *ngFor="let image of piece.images">
                    <div class="picsum-img-wrapper"
                        [style.backgroundImage]="'url(http://192.168.1.135:8080/piece/' + piece.id + '/' + image + ')'">
                    </div>
                     <div class="carousel-caption">
                        <h3>Detalle</h3>
                    </div> 
                </ng-template>
            </ngb-carousel>
        </div> -->