html {
    scroll-behavior: smooth;
    /* Habilita el scroll suave */
}

#content {
    width: 100vw;
    max-width: 2000px;
    height: 100%;
}

#workImg {
    min-width: 320px;
    width: 100%;
    max-width: 2000px;

    height: 100vh;
    max-height: 1100px;

    position: absolute;
    top: 0px;
    left: 0;
    right: 0;

    margin: 0px auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.headerImg {
    height: 95vh;
    max-height: 1050px;
}

#body {
    width: 90%;
    margin: 50px auto;
    text-align: justify;
}

#inf {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 50px;
}

#titleAnchor {
    padding-top: 50px;
}

pre {
    overflow: hidden;
    max-width: 100%;
    text-wrap: wrap;

    font-size: large;
}

#artworks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 85vw;
    justify-content: space-around;
    margin: 0 auto;
}

.artwork {
    scroll-snap-align: start;
    position: relative;
    margin-bottom: 30px;
    width: fit-content;
}

.artwork:hover .hidden {
    opacity: 1;
}





#artwork_shop {
    width: 300px;
    background-color: #fff;

    top: 20%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: 20px 30px !important;
}

#artwork_shop>h3 {
    margin: 0px;
}

#artwork_shop>h1 {
    margin: 0px;
    font-size: 30px;
    text-align: left;
}

#artwork_shop p {
    margin: 0px;
}

#art_shop_bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    font-size: 20px;
    margin-top: 25px;
}

#art_shop_bottom>div {
    height: 22px;
    max-height: 22px;
    font-size: 22px;
}

#art_shop_bottom>div>span {
    margin-left: 10px;
    cursor: pointer;
}

.mini_inf {
    font-size: small;
    margin-top: 5px !important;
    text-align: end;
    align-self: center;
}


#pieces {
    width: fit-content;
    max-width: 100%;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

#piece {
    min-width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    height: fit-content;
    position: relative
}

#piece_inf {
    height: fit-content;
    min-width: fit-content;
    width: 50%;
    max-width: 90%;
    text-wrap: nowrap;

    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
}

#piece_inf>p {
    margin: 5px;
}

#images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
}

img {
    margin: 20px 50px;
    max-height: 85vh;
    max-width: 100%;
}


.picsum-img-wrapper {
    height: 90vh;
    background-size: cover;
    background-position: center;
}

#carousel {
    margin-top: 50px;
}

video {
    margin-bottom: 20px;
    margin: 20px;
    max-height: 90vh;
    max-width: 100%;
}

.hidden {
    opacity: 0;
    transition: opacity 0.3s;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border: 1px solid rgb(216, 216, 216);
    background-color: #ebebebef;

}

/* ---- FAV ---- */
.favorited {
    font-variation-settings:
        'FILL' 1
}

.icontoggle {
    display: none;
}


.mobile {
    display: none;
}

#mobile_piece_inf {
    text-align: center;
    padding: 0px;
    margin: 5px 0px;
}

#mobile_piece_inf>p {
    margin: 0;

}

#mobile_piece_inf>p:last-child {
    color: var(--neutral-800);
}

.sticky_inf {
    background-color: white;
    position: sticky;
    padding: 15px 20px;
    top: 0px;
    z-index: 10;
    height: 60px;
    margin-top: 20px;
}

.sticky_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.sticky_header>h1 {
    margin: 0px;
}

.sticky_collapse {
    background-color: white;
    padding: 10px 0;
    z-index: 10;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
}

.sticky_collapse>p {
    margin: 0 10px 0 0;
}


@media (width >=2000px) {}

@media (width <=1238px) {}

/* Para dispositivos con puntero táctil */
@media (pointer: coarse) {
    .artwork:hover .hidden {
        display: none;
    }

    .mobile {
        display: block !important;
    }

    img {
        margin: 20px;
    }


}

/* Estilo para móviles */
@media (max-width: 767px) {
    .sticky_inf {
        padding: 15px 0px;
    }
    img {
        margin: 0px;
    }
    .pieces,
    .piece,
    .images {
        width: 100%;
    }
}