#body {
   padding: 25px;
}

#actions {
   margin-top: 25px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.confirm {
   background-color: var(--success-200);
}
.confirm:hover {
   background-color: var(--success-400);
}

.cancel {
   background-color: var(--error-300);
}
.cancel:hover {
   background-color: var(--error-400);
}