/* --- Global Styles --- */
* {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
 }
 
html {
    scroll-behavior: smooth;
    height: 100%;
}

.wrapper {
    width: 100%;
    max-width: 2000px;

    min-height: 100vh;
    margin: 0px auto;

    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    min-width: 100vw !important;
    height: 100%;
}
/* --- RESPONSIVE DESINGS BREAKPOINTS --- */
@media screen and (max-width: 576px){}
@media screen and (max-width: 768px){}
@media screen and (max-width: 992px){}
@media screen and (max-width: 1200px){}
@media screen and (max-width: 1400px){}

