* {
   font-family: "Outfit", sans-serif !important;
   font-optical-sizing: auto;
   font-style: normal;
   box-sizing: border-box;
}

#wrapper {
   width: 100vw !important;
   height: 100%;
}
#content {
   margin-top: 30px;

   display: flex;
   flex-direction: row;
   width: 100%;
   margin: 0 auto;
   height: 100%;
}
.sidebar {
   min-width: fit-content;
   width: 230px;
   border-right: 1px solid var(--neutral-700);
}



.options {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 15px 25px;
   cursor: pointer;
   justify-content: space-between;

}

.options:hover {
   background-color: var(--neutral-400);
   transition: 0.3s ease;
}

.options>h2 {
   margin: 0px;
   font-weight: 400;
   font-size: 18px;
}

a.active {
   background-color: var(--neutral-200);
   border-right: 1px solid var(--primary-500);
}
a.active > h2 {
   font-weight: 500;
}