<div id="wrapper">
   <div class="sidebar">
      <a class="nav-link" href="/userdata/mydata" routerLink="/userdata/mydata" routerLinkActive="active">Mis datos</a>
      <a class="nav-link" href="/userdata/favoritos" routerLink="/userdata/favoritos" routerLinkActive="active">Favoritos</a>
      <a class="nav-link" href="/userdata/pedidos" routerLink="/userdata/pedidos" routerLinkActive="active">Pedidos</a>
      <a class="nav-link" href="/userdata/" routerLink="/userdata/" routerLinkActive="active">Pago</a>
   </div>
   <router-outlet></router-outlet>
</div>