<div class="pageinf">
	<h1>Mis datos</h1>
	<p>Mira o cambia la información asociada a tu cuenta en cualquier momento.</p>
</div>

<div data-bs-toggle="modal" data-bs-target="#dataModal" class="divopt">
	<div class="icon">
		<span class="material-symbols-outlined">person</span>
	</div>
	<div class="inf">
		<h3>Datos de la cuenta</h3>
		<p>Cambia los datos de tu cuenta como el número de teléfono o el gmail.</p>
	</div>
</div>

<div data-bs-toggle="modal" data-bs-target="#addressModal" class="divopt">
	<div class="icon">
		<span class="material-symbols-outlined">send</span>
	</div>
	<div class="inf">
		<h3>Dirección de envio</h3>
		<p>Añade o cambia tus datos de dirección donde se enviarán tus pedidos.</p>
	</div>
</div>

<div data-bs-toggle="modal" data-bs-target="#pwdModal" class="divopt">
	<div class="icon">
		<span class="material-symbols-outlined">key</span>
	</div>
	<div class="inf">
		<h3>Contraseña</h3>
		<p>Cambia tu contraseña en cualquier momento.</p>
	</div>
</div>




<!-- DATA MODAL -->
<div class="modal fade" id="dataModal" tabindex="-1" aria-labelledby="dataModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="dataModalLabel">Editar datos de la cuenta</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<app-data-form></app-data-form>
			</div>
		</div>
	</div>
</div>

<!-- ADDRESS MODAL -->
<div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="addressModalLabel">{{ user?.address ? 'Editar dirección' : 'Añadir dirección'}}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<app-address-form></app-address-form>
			</div>
		</div>
	</div>
</div>

<!-- PWD MODAL -->
<div class="modal fade" id="pwdModal" tabindex="-1" aria-labelledby="pwdModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="pwdModalLabel">Cambia tu contraseña</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<app-pwd-form></app-pwd-form>
			</div>
		</div>
	</div>
</div>