<a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ user?.address ? 'Editar dirección' : 'Añadir dirección' }}</a>

<!-- ADDRESS MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">{{ user?.address ? 'Editar dirección' : 'Añadir dirección'}}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<app-address-form></app-address-form>
			</div>
		</div>
	</div>
</div>