<div class="address">
   <div class="card_header">
     <b *ngIf="isDefault">Dirección predeterminada</b>
     <p *ngIf="!isDefault" (click)="setDefault()">Elegir como predeterminada</p>
   </div>
   <div class="card_body">
     <p><b>{{ address?.recipient }}</b></p>
     <p>{{ address?.street }}</p>
     <p>{{ address?.details }}</p>
     <p>{{ address?.city }}, {{ address?.province }} {{ address?.zipcode }}</p>
     <p>{{ address?.phone }}</p>
   </div>
   <div class="card_footer">
     <p (click)="onEdit()">Editar</p>
     <p (click)="delAddress()">Eliminar</p>
   </div>
 </div>

