.address {
   border: 1px solid var(--neutral-200);
   /* margin: 0 20px 30px 20px; */
   padding: 20px;
   background-color: #fff;
   width: 250px;
   min-width: none;

}

p {
   margin-bottom: 0px;
}

.card_header {
   padding-bottom: 15px;
}

.card_body {
   border-top: 1px solid gainsboro;
   border-bottom: 1px solid gainsboro;
   padding: 15px 0;
}

.card_body>p {
   margin-bottom: 5px;
}

.card_footer {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   padding-top: 15px;
}

.card_footer>p {
   font-size: 16px;
   padding: 5px 8px;
   border-radius: 5px;
}

.click {
   cursor: pointer;
}

.click.edit {
   color: var(--success-500);
   border: 1px solid var(--success-500);
}

.click.del {
   color: var(--error-500);
   border: 1px solid var(--error-500);
}

.click.default {
   color: var(--primary-700);
   text-decoration: underline;
}

@media (width < 350px) {
   .address {
      min-width: fit-content;
      width: 100%;
   }

}