<div class="title">
   <H1>Tu cuenta</H1>
   <p>Vea información sobre su cuenta y cambia tus datos.</p>
   </div>
   <div mat-raised-button (click)="chInf()" class="button">
      <span class="material-symbols-outlined">person</span>
      <div class="btnText">
         <h3>Información de la cuenta</h3>
         <p>Cambia información como tu número de teléfono o email.</p>
      </div>
      <span class="material-symbols-outlined chevron">chevron_right</span>
   </div>
   
   <div mat-raised-button (click)="chPwd()" class="button">
      <span class="material-symbols-outlined">key</span>
      <div class="btnText">
         <h3>Cambia tu contraseña</h3>
         <p>Cambia tu contraseña en cualquier momento.</p>
      </div>
      <span class="material-symbols-outlined chevron">chevron_right</span>
   </div>
   