<form [formGroup]="form" id="addressForm" (ngSubmit)="onSubmit()">
   <span>
      <div class="form-group">
         <p>Destinatario:</p>
         <input matInput placeholder="Nombre y apellidos" formControlName="recipient" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['recipient'].errors }" />
         <div *ngIf="submitted && f['recipient'].errors" class="invalid-feedback">
            <div *ngIf="f['recipient'].errors['required']">Campo obligatorio</div>
            <div *ngIf="f['recipient'].errors['minlength']">Mínimo {{f['recipient'].errors['minlength'].requiredLength}} caracteres</div>
            <div *ngIf="f['recipient'].errors['maxlength']">Máximo {{f['recipient'].errors['maxlength'].requiredLength}} caracteres</div>
         </div>
      </div>

      <div class="form-group">
         <p>Dirección:</p>
         <input matInput placeholder="Nombre y número de calle" formControlName="street" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['street'].errors }" />
         <div *ngIf="submitted && f['street'].errors" class="invalid-feedback">
            <div *ngIf="f['street'].errors['required']">Campo obligatorio</div>
            <div *ngIf="f['street'].errors['minlength']">Mínimo {{f['street'].errors['minlength'].requiredLength}} caracteres</div>
            <div *ngIf="f['street'].errors['maxlength']">Máximo {{f['street'].errors['maxlength'].requiredLength}} caracteres</div>
         </div>
      </div>

      <div class="form-group">
         <p>Detalles de dirección:</p>
         <input matInput placeholder="Edificio, piso o apartamento" formControlName="details" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['details'].errors }" />
         <div *ngIf="submitted && f['details'].errors" class="invalid-feedback">
            <div *ngIf="f['details'].errors['required']">Campo obligatorio</div>
            <div *ngIf="f['details'].errors['minlength']">Mínimo {{f['details'].errors['minlength'].requiredLength}} caracteres</div>
            <div *ngIf="f['details'].errors['maxlength']">Máximo {{f['details'].errors['maxlength'].requiredLength}} caracteres</div>
         </div>
      </div>

      <div class="doble">
         <div class="form-group">
            <p>Ciudad:</p>
            <input matInput formControlName="city" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f['city'].errors }" />
            <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
               <div *ngIf="f['city'].errors['required']">Campo obligatorio</div>
               <div *ngIf="f['city'].errors['minlength']">Mínimo {{f['city'].errors['minlength'].requiredLength}} caracteres</div>
               <div *ngIf="f['city'].errors['maxlength']">Máximo {{f['city'].errors['maxlength'].requiredLength}} caracteres</div>
            </div>
         </div>
         <div class="form-group">
            <p>Código postal:</p>
            <input matInput formControlName="zipcode" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f['zipcode'].errors }" />
            <div *ngIf="submitted && f['zipcode'].errors" class="invalid-feedback">
               <div *ngIf="f['zipcode'].errors['required']">Campo obligatorio</div>
               <div *ngIf="f['zipcode'].errors['pattern']">Código postal no válido</div>
            </div>
         </div>
      </div>
      <div class="doble">
         <div class="form-group">
            <p>Provincia:</p>
            <input matInput formControlName="province" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f['province'].errors }" />
            <div *ngIf="submitted && f['province'].errors" class="invalid-feedback">
               <div *ngIf="f['province'].errors['required']">Campo obligatorio</div>
               <div *ngIf="f['province'].errors['minlength']">Mínimo {{f['province'].errors['minlength'].requiredLength}} caracteres</div>
               <div *ngIf="f['province'].errors['maxlength']">Máximo {{f['province'].errors['maxlength'].requiredLength}} caracteres</div>
            </div>
         </div>

         <div class="form-group">
            <p>Teléfono:</p>
            <input matInput formControlName="phone" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" />
            <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
               <div *ngIf="f['phone'].errors['required']">Campo obligatorio</div>
               <div *ngIf="f['phone'].errors['pattern']">Número de teléfono no válido</div>
            </div>
         </div>
      </div>
   </span>
   <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
