<div class="title">
   <H1>Información de tu cuenta</H1>
   </div>
   <div mat-raised-button class="button">
      <span class="material-symbols-outlined">person</span>
      <div class="btnText">
         <h3>Nick</h3>
      </div>
      <span class="material-symbols-outlined chevron">chevron_right</span>
   </div>
   
   <div mat-raised-button class="button">
      <span class="material-symbols-outlined">key</span>
      <div class="btnText">
         <h3>Cambia tu contraseña</h3>
         <p>Cambia tu contraseña en cualquier momento.</p>
      </div>
      <span class="material-symbols-outlined chevron">chevron_right</span>
   </div>