div.title {
   margin-left: 30px;
   margin-bottom: 30px;
}

div.button {
   display: flex;
   align-items: center;
   padding: 10px 20px;

   cursor: pointer;
   position: relative;
}

div.button:hover {
   background-color: #eeeeee9c;
}

div.button > span {
   margin: 20px;
   color: gray;
}

.btnText > h3, p {
   margin-bottom: 0px;
   margin-right: 40px;
}

.chevron {
   position: absolute;
   right: 0px;
   color: gray;
}

