<div id="body">
	<div id="content">

		<div id="left">
			<div id="userdata">
				<h2>Entregando a {{user?.name}} {{user?.surname}}</h2>
				<p *ngIf="!user?.address">No se ha encontrado ninguna dirección</p>
				<h4 *ngIf="user?.address">{{addressString}}</h4>
				<a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ user?.address ? 'Editar dirección' :
					'Añadir dirección' }}</a>
			</div>
			<div class="order_inf">
				<h2>Obras</h2>
				<div *ngFor="let artwork of artworks" class="product">
					<a *ngFor="let piece of artwork.pieces" class="piece">
						<div class="images" *ngFor="let image of piece.images">
							<div class="img" [ngStyle]="{'background-image': getBackgroundImageUrl(image, piece)}"></div>
						</div>
					</a>
					<div class="cover"></div>

					<div class="inf">
						<div class="inf_top">
							<div class="a">
								<span>
									<h2>{{artwork.title}} </h2>
									<h2 id="price_{{artwork.id}}">{{artwork.price}}€</h2>
								</span>
								<h4>{{artwork.work_title}} - {{artwork.creation_date}}</h4>
							</div>
							<div class="pieces">
								<p><b>Contiene:</b></p>
								<ul>
									<li *ngFor="let piece of artwork.pieces">
										<ng-container *ngIf="piece.title; else noTitle">{{ piece.title }} - </ng-container>
										<ng-template #noTitle>Sin título - </ng-template>
										<ng-container *ngIf="piece.materials; else noMat">{{ piece.materials}} - </ng-container>
										<ng-template #noMat>Materiales no registrados - </ng-template>
										<ng-container *ngIf="piece.dimensions; else noDim">{{ piece.dimensions }}
											cm</ng-container>
										<ng-template #noDim>Dimensiones no especificadas</ng-template>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div id="right">
			<div id="payment_inf">
				<div>
					<h2>Total</h2>
					<h2>{{ total_amount }} €</h2>
				</div>
				<h4>{{artworks.length}} productos seleccionados</h4>
				<h4>Envío gratuito</h4>
			</div>


			<div id="paymentForm">
				<h2>Método de pago</h2>


				@if (elementsOptions.clientSecret) {
				<!-- <ngx-stripe-elements id="cardForm" [stripe]="stripe" [elementsOptions]="elementsOptions">
					<ngx-stripe-payment [options]="paymentElementOptions" />

				</ngx-stripe-elements> -->
				<ngx-stripe-elements [stripe]="stripe" [elementsOptions]="elementsOptions">
					<ngx-stripe-card />
				</ngx-stripe-elements>

				}
				<div class="payment_button">
					<button class="btn-primary btn" (click)="pay()">Pagar</button>
				</div>
			</div>
		</div>

	</div>
</div>



<!-- ADDRESS MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">{{ user?.address ? 'Editar dirección' : 'Añadir
					dirección'}}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<app-address-form></app-address-form>
			</div>
		</div>
	</div>
</div>