<div id="body">
	<div id="content">

		<div id="left">
			<div id="userdata">
				<h2>Entregando a {{user?.name}} {{user?.surname}}</h2>
				<p *ngIf="!user?.address">No se ha encontrado ninguna dirección</p>
				<h4 *ngIf="user?.address">{{addressString}}</h4>
				<a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ user?.address ? 'Editar dirección' :
					'Añadir dirección' }}</a>
			</div>
			<div class="order_inf">
				<h2>Obras</h2>
   <div *ngFor="let artwork of artworks">
		<h1>{{artwork.title}} </h1>
	</div>
			</div>
			
		</div>

		<div id="right">
			<div class="payment_inf">
				<span>
					<h2>Total</h2>
					<h2>{{ total_amount }} €</h2>
				</span>
			</div>

			
			<div id="paymentForm">
				<h2>Método de pago</h2>
				@if (elementsOptions.clientSecret) {
				<ngx-stripe-elements id="cardForm" [stripe]="stripe" [elementsOptions]="elementsOptions">
					<ngx-stripe-payment [options]="paymentElementOptions" />
				</ngx-stripe-elements>
				}
				<div class="payment_button">
					<button class="btn-primary btn" (click)="pay()">Pagar</button>
				</div>
			</div>
		</div>

	</div>
</div>



<!-- ADDRESS MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">{{ user?.address ? 'Editar dirección' : 'Añadir dirección'}}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<app-address-form></app-address-form>
			</div>
		</div>
	</div>
</div>