<div id="body">
	<div id="content">

		<div id="left">
			<div id="userdata">
				<h2>Entregando a {{ user?.address?.recipient }}</h2>
				<div *ngIf="!user?.address" id="noAddress">
					<p>No se ha encontrado ninguna dirección</p>
					<span aria-hidden="false" class="material-symbols-outlined error">error</span>
				</div>
				<h4 *ngIf="user?.address">{{addressString}}</h4>
				<a href="" data-bs-toggle="collapse" data-bs-target="#addressCollapse">{{ user?.address ? 'Cambiar dirección' : 'Añadir dirección' }}</a>
			</div>

			<div class="collapse multi-collapse" id="addressCollapse">
				<div id="app-address">
				<app-address (reload)="loadUserData()"></app-address>
			</div>
			</div>

			<div class="order_inf">
				<h2>Obras</h2>
				
				<div *ngFor="let artwork of artworks" class="product">
					<a *ngFor="let piece of artwork.pieces" class="piece">
						<div class="images" *ngFor="let image of piece.images">
							<div class="img" [ngStyle]="{'background-image': getBackgroundImageUrl(image, piece)}"></div>
						</div>
					</a>
					<div class="cover"></div>

					<div class="inf">
						
						<div class="inf_top">
							<div class="a">
								<span>
									<h2>{{artwork.title}} </h2>
								<h4>{{artwork.work_title}} - {{artwork.creation_date}}</h4>
								</span>
						<h2 id="price_{{artwork.id}}">{{artwork.price}}€</h2>
							</div>
							<div class="pieces">
								<p><b>Contiene:</b></p>
								<ul>
									<li *ngFor="let piece of artwork.pieces">
										<ng-container *ngIf="piece.title; else noTitle"><b>{{ piece.title }} </b>- </ng-container>
										<ng-template #noTitle>Sin título - </ng-template>
										<ng-container *ngIf="piece.materials; else noMat">{{ piece.materials}} - </ng-container>
										<ng-template #noMat>Materiales no registrados - </ng-template>
										<ng-container *ngIf="piece.dimensions; else noDim">{{ piece.dimensions }}
											cm</ng-container>
										<ng-template #noDim>Dimensiones no especificadas</ng-template>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="right">
			<div id="payment_inf">
				<div>
					<h2>Total</h2>
					<h2>{{ total_amount }} €</h2>
				</div>
				<h4>{{artworks.length}} productos seleccionados</h4>
				<h4>Envío gratuito</h4>
			</div>

			<div id="paymentForm">
				<h2>Método de pago</h2>
				@if (elementsOptions.clientSecret) {
				<ngx-stripe-elements [stripe]="stripe" [elementsOptions]="elementsOptions">
					<div id="blackborder">
						<div id="padding">
							<ngx-stripe-card [options]="cardOptions" />
						</div>
					</div>
				</ngx-stripe-elements>
				}
				<div class="payment_button">
					<button class="btn-primary btn" (click)="pay()" [disabled]="isLoading">Pagar</button>
				</div>
			</div>
		</div>

	</div>
</div>



<!-- ADDRESS MODAL -->
<!-- <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="addressModalLabel">{{ user?.address ? 'Cambiar dirección' : 'Añadir dirección'}}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<app-address></app-address>
			</div>
		</div>
	</div>
</div> -->