/* General */
#body {
   width: 100%;
   background-color: var(--neutral-100);
   height: 100% !important;
   min-height: 85vh;
}

#content {
   display: flex;
   flex-direction: row;
   margin: 0 auto;
   padding: 20px 0;
   width: 95%;
   height: 100%;
   justify-content: space-between;
}

#content>div>div {
   min-height: fit-content;
}

#left {
   margin-right: 70px;
   /* min-width: fit-content; */
   width: 50%;
   max-width: 910px;
}

#left>div {
   background-color: white;
   padding: 35px;
   margin-bottom: 30px;
}


.inf {
   display: flex;
   flex-direction: row;
   flex: 1 !important;
}
.inf_top {
   width: 100%;
}

.a {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%
}

.inf h2 {
   margin: 0px;
}

#userdata {
   padding: 20px;
   /* min-width: fit-content; */
   height: 165px;
   min-height: fit-content;

}

#userdata>h2 {
   margin: 0px;
}

#userdataForm {
   display: flex;
   flex-direction: column;
}

#addressCollapse {
   padding: 30px 0 !important;
}

#noAddress {
   display: flex;
   flex-direction: row;
   align-items: center;
}

#noAddress>p {
   margin: 0px;
}

.error {
   color: var(--error-400);
   font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 12
}


.btn-primary {
   background-color: var(--primary-400);
   border-color: var(--primary-700);
}

.btn-primary:hover {
   background-color: var(--primary-700);
}

.modal-title {
   margin: 0px;
}

/* Pago */
#right>div {
   background-color: white;
   padding: 35px;
   margin-bottom: 30px;
   min-height: 165px;
}

#right {
   width: 45%;
   min-width: 475px;
   display: flex;
   flex-direction: column;
}

#right h4 {
   margin: 0px;
}

#payment_inf>div {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.payment_button {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: end;
   margin-top: 20px;
}

/* PRODUCTS VIEW */
.product {
   padding-bottom: 20px;
   margin-bottom: 20px;
   border-bottom: 1px solid var(--neutral-400);
   display: flex;
   flex-direction: row;
   align-items: center;
}

.a>h2,
.pieces>p {
   margin: 0px;
}

.piece {
   position: absolute;
}

.pieces>ul {
   list-style: none;
   padding-left: 10px;
   color: rgb(65, 65, 65);
}

.pieces>ul b {
   font-weight: 500;
}

.cover {
   height: 150px;
   width: 150px;
   margin-right: 30px;
}

.img {
   height: 150px;
   width: 150px;
   background-position: center;
   background-size: cover;
   position: relative;
}

#blackborder {
   background-color: var(--neutral-700);
   padding: 1px;
   border-radius: 5px;
}

#padding {
   background-color: white;
   padding: 10px;
   border-radius: 5px;
}

@media (width < 1130px) {
   #content {
      flex-wrap: wrap;
      width: 85%;
   }

   #content>div {
      width: 100% !important;
      max-width: none;
      margin: 0px;
   }

   #left {
      flex-direction: column-reverse !important;
   }

   #right {
      min-width: 100%;
   }

   #content>div>div {
      width: 100% !important;
      max-width: none;
      margin: 0px;
      margin-bottom: 15px;
      height: fit-content;

   }

}

@media screen and (width < 650px) {
   #content {
      width: 100%;
   }
}

@media screen and (width < 500px) {
   #content>div>div {
      padding: 20px;
   }

   #app-address {
      width: fit-content;
      max-width: 300px;
      margin: 0 auto;
   }

   .cover {
      height: 75px;
      width: 75px;
      margin-right: 10px;
   }

   .img {
      height: 75px;
      width: 75px;
   }

   .pieces {
      display: none;
   }


}

@media (width <=300px) {

   .inf_top,
   .inf_top>.a {
      display: flex;
      flex-direction: column;
   }
   span > h4 {
      margin: 0;
   }
   .product {
      padding: 0 0 10px;
   }
   .a > h2 {
      font-size: medium;
   }
}