#side {
   display: flex;
   flex-direction: column;

   /* border-top: 1px solid gray;
   border-bottom: 1px solid gray; */
   border-right: 1px solid #e2e2e2;
   height: 100%;
   padding: 30px 0;
}

#side > a {
   display: block;

   font-size: large;

   padding: 15px 50px;
   color: gray;
   text-decoration: none;

}
#side > a:hover {
   color: black;
   background-color: #e2e2e29c;
   cursor: pointer;
}

.active {
   color: black !important;
   background-color: #e2e2e29c;
}